<app-navbar-main>
</app-navbar-main>


<div class="section-container">
    <div class="section-left">

        <div>
            <h5 class="section-header">Section 1</h5>
        </div>
        <div>
            <h4 class="section-title">Introduction</h4>
        </div>

        <div class="section-infos">
            <div class="section-lecture-counts">
                4 lectures
            </div>

            <div class="section-lecture-duration">
                <span class="section-divider">|</span> 25min
            </div>
        </div>
    </div>
    <div class="section-right">
        <svg-icon class="section-chevron-down" preserveAspectRatio="xMidYMin" src="assets/icon/bx-chevron-down.svg" [svgStyle]="{ 'width.px':35}"></svg-icon>
    </div>
</div>

<div class="section-detail-container">
    <div class="section-detail-left">

        <div class="section-detail-title">
            <h5>1. The course structure</h5>
        </div>
        <div class="scetion-detail-all">
            <div class="play-img">
                <img class="play-circle" src="assets/icon/play-button.png" alt="">
            </div>
            <div class="section-detail-time">
                7 min
            </div>
        </div>
    </div>

    <div class="section-detail-right">
        <svg-icon class="section-chevron-right" preserveAspectRatio="xMidYMin" src="assets/icon/bx-chevron-right.svg" [svgStyle]="{ 'width.px':35}"></svg-icon>
    </div>

</div>


<div class="section-detail-container">
    <div class="section-detail-left">

        <div class="section-detail-title">
            <h5>2. Section Face</h5>
        </div>
        <div class="scetion-detail-all">
            <div class="play-img">
                <img class="play-circle" src="assets/icon/play-button.png" alt="">
            </div>
            <div class="section-detail-time">
                4 min
            </div>
        </div>
    </div>

    <div class="section-detail-right">
        <svg-icon class="section-chevron-right" preserveAspectRatio="xMidYMin" src="assets/icon/bx-chevron-right.svg" [svgStyle]="{ 'width.px':35}"></svg-icon>
    </div>

</div>