.login-btn {
    color: #494949;
    text-transform: uppercase;
    text-decoration: none;
    background: #ffffff;
    padding: 3px;
    border: 1px solid #494949;
    display: inline-block;
    transition: all 0.4s ease 0s;
}

.signin-container {
    max-width: 360px;
    max-height: 500px;
    background: white;
    padding: 2px 16px;
    box-shadow: rgba(24, 39, 75, 0.15) 0px 19px 80px, rgba(24, 39, 75, 0.15) 0px 10px 60px;
    width: 100%;
    border-radius: 20px;
    margin: 2rem auto;
}

input {
    width: 100%;
    background: #f5f5f5;
    border: 0;
    padding: 18px;
    border-radius: 15px;
    margin-bottom: 20px;
    border: 1px solid #eee;
}

h4 {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 700;
    color: rgb(40, 40, 40);
    margin: 15px auto;
}

.btn {
    position: relative;
    width: 100%;
    padding: 14px;
    border-radius: 14px;
    border: 0;
    background: #282828;
    font-size: 1.2em;
    color: #fff;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, .1);
    box-shadow: 0px 3px 0px #e4e4e4;
    margin-bottom: 1rem;
    font-weight: 700;
}

.btn:active {
    top: 3px;
    box-shadow: none;
}

.forgot-password {
    text-align: right;
    font-size: .7rem;
    color: #a00000;
    a {
        color: #a00000;
        cursor: pointer;
    }
    margin-bottom: 1.5rem;
}

.login__signup {
    font-size: .7rem;
    color: #6d6d6d;
    a {
        color: rgb(43, 43, 43);
        cursor: pointer;
    }
}

.signup-adjust {
    text-align: center;
}

.wrap {
    margin-top: 4rem;
}

.logo {
    display: block;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

.back-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20px;
    margin-top: 4rem;
}