<div class="comment-container">
    <div class="comment-display scroll-bar" id="style-1">
        <div class="comment-display-items">
            <div class="comment-display-item">
                <div class="comment-display-avatar-container">
                    <img class="user-image" src="assets/avatars/men1.png" alt="">
                </div>
                <div class="comment-display-info-container">
                    <div class="name-and-date">
                        <div class="comment-display-username">Gin</div>
                        <div class="comment-display-days">
                            july 18, 2021
                        </div>
                    </div>
                    <div class="comment-display-contents">
                        <p>
                            Lorem . Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni corporis blanditiis cumque perspiciatis iure cum?
                        </p>
                    </div>
                </div>
            </div>
            <div class="comment-display-item">
                <div class="comment-display-avatar-container">
                    <img class="user-image" src="assets/avatars/men1.png" alt="">
                </div>
                <div class="comment-display-info-container">
                    <div class="name-and-date">
                        <div class="comment-display-username">Gin</div>
                        <div class="comment-display-days">
                            july 18, 2021
                        </div>
                    </div>
                    <div class="comment-display-contents">
                        <p>
                            Lorem . Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione minus accusamus blanditiis! Qui magnam quaerat quae quasi fugiat nemo. Fuga.
                        </p>
                    </div>
                </div>
            </div>
            <div class="comment-display-item">
                <div class="comment-display-avatar-container">
                    <img class="user-image" src="assets/avatars/men1.png" alt="">
                </div>
                <div class="comment-display-info-container">
                    <div class="name-and-date">
                        <div class="comment-display-username">Gin</div>
                        <div class="comment-display-days">
                            july 18, 2021
                        </div>
                    </div>
                    <div class="comment-display-contents">
                        <p>
                            Lorem . Lorem ipsum dolor sit amet
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="comment-input">
        <div>
            <input type="text" placeholder="Add your comments here">
            <button class="add-button">Add</button>
        </div>
    </div>


</div>