<div class="nav-container">
    <div>
        <a>
            <svg-icon class="close-menu-icon" src="assets/menuIcon/bx-x.svg" [svgStyle]="{ 'width.px':50 }"></svg-icon>
        </a>
    </div>
    <h4 class="menu-title">MENU</h4>
    <div class="divider"></div>
    <div class="nav-menu">

        <ul class="nav-list">
            <li class="nav-item">

                <svg-icon class="nav-menu-icon" src="assets/menuIcon/bx-cart-alt.svg" [svgStyle]="{ 'width.px':45 }"></svg-icon>
                <a href="#home" class="nav-link active-link">Cart</a>
            </li>
            <li class="nav-item">
                <svg-icon class="nav-menu-icon" src="assets/menuIcon/bx-home-alt.svg" [svgStyle]="{ 'width.px':45 }"></svg-icon>
                <a href="#home" class="nav-link active-link">Home</a>
            </li>


            <li class="nav-item">
                <svg-icon class="nav-menu-icon" src="assets/menuIcon/bx-chat.svg" [svgStyle]="{ 'width.px':45 }"></svg-icon>
                <a href="#home" class="nav-link active-link">Messages</a>
            </li>
            <li class="nav-item">
                <svg-icon class="nav-menu-icon" src="assets/menuIcon/bx-grid-alt.svg" [svgStyle]="{ 'width.px':45 }"></svg-icon>
                <a href="#home" class="nav-link active-link">Dashboard</a>
            </li>
            <li class="nav-item">
                <svg-icon class="nav-menu-icon" src="assets/menuIcon/bx-layer.svg" [svgStyle]="{ 'width.px':45 }"></svg-icon>
                <a href="#home" class="nav-link active-link">Courses</a></li>
            <li class="nav-item">
                <svg-icon class="nav-menu-icon" src="assets/menuIcon/bx-credit-card-alt.svg" [svgStyle]="{ 'width.px':45 }"></svg-icon>
                <a href="#home" class="nav-link active-link">Pricing</a></li>
            <li class="nav-item">
                <svg-icon class="nav-menu-icon" src="assets/menuIcon/bx-help-circle.svg" [svgStyle]="{ 'width.px':45 }"></svg-icon>
                <a href="#home" class="nav-link active-link">Help</a>
            </li>
        </ul>
    </div>

    <div class="bt"></div>
</div>