<div id="container">
    <div class="card">


        <div class="navbar-items" id="left-box">
            <app-navbar-profile>
            </app-navbar-profile>


        </div>

        <div class="navbar-items" id="hs-logo">
            <a href="/">

                <img class="navbar-logo" src="assets/logo/hslogo.png" width="110px" alt="">
            </a>

        </div>

        <div class="navbar-items" id="right-box">

            <!-- <img class="navbar-icon" src="assets/icon/search-regular-36.png" alt="">
                <img class="navbar-icon" src="assets/icon/cart-regular-36.png" alt="">
                <img class="navbar-icon" src="assets/icon/menu-regular-36.png" alt=""> -->

            <!-- <svg-icon class="navbar-icon" src="assets/icon/bx-search.svg" [svgStyle]="{ 'width.px':45 }"></svg-icon> -->
            <div class="btn-container">
                <!-- <app-login></app-login>
                <app-logout></app-logout> -->
            </div>
            <div>
                <!-- <svg-icon class="navbar-icon" src="assets/icon/bx-cart.svg" [svgStyle]="{ 'width.px':42 }"></svg-icon> -->
                <svg-icon class="navbar-icon" src="assets/icon/bx-menu.svg" [svgStyle]="{ 'width.px':45 }"></svg-icon>
            </div>
        </div>
    </div>
</div>