

<div class="upper-menu">
    <div>
        
        <div routerLink="/" class="stackmy-logo-c showwlogo">
            <img src="assets/logo/appready-white-logo.png" alt="">
        </div>
        
        <div routerLink="/" class="stackmy-logo-c shwodlogo">
            <img src="assets/logo/appready-dark-logo.png" alt="">
        </div>

    </div>

    <div>
        <svg-icon class="svg-icon shwodlogo " src="assets/img/4.svg" [svgStyle]="{ 'width.px':640} "></svg-icon>
        <svg-icon class="svg-icon showwlogo " src="assets/img/bg-b.svg" [svgStyle]="{ 'width.px':640} "></svg-icon>
    </div>
</div>

<!-- 
<div class="logo-view-container">
    <div class="logo-container">
        <div routerLink="/" class="stackmy-logo-c showwlogo">
            <img src="assets/logo/appready-white-logo.png" alt="">
        </div>

        <div routerLink="/" class="stackmy-logo-c shwodlogo">
            <img src="assets/logo/appready-dark-logo.png" alt="">
        </div>
    </div>

    <div class="night-view">
        <input id="darkMode" type="checkbox" [checked]="darkMode$ | async" (change)="onToggle()" class="toggle" />
            <label class="toggle-label" for="darkMode">
                <div >
                    <svg-icon class="moon"  src="assets/icon/bxs-sun.svg" [svgStyle]="{ 'width.px':45, 'margin-top.px':12 }"></svg-icon>
                    
                    <svg-icon class="sun orig-moon"  src="assets/icon/bx-moon.svg" [svgStyle]="{ 'width.px':45, 'margin-top.px':12 }"></svg-icon>
                    
                </div>
                
            </label>
    </div>

</div> -->


<div class="landing-container">

    <div class="middle-section">
        <div>

            <h4 class="text-block-2">
                <span class="change-text"> </span> Build
            </h4>
            <h4 class="text-block-3">
                <span class="change-text"> </span> real world app
            </h4>
            <h4 class="text-block-4">
                in One Course!
            </h4>
            <h4 class="text-block-5">
                
                One course is all you need! 
                <br>
                You will learn: Frontend, Backend, Database, Hosting, UI/UX, Web Design, Payment System and so much more! 
            </h4>
            <!-- <div>
                <button class="btn-more" [routerLink]="['/courses']">Get Started</button>
            </div> -->
            <div class="text-block-6">
                <!-- <h5 *ngIf="!alreadySignedIn" routerLink="auth/login">Log in</h5>
                <h5 *ngIf="alreadySignedIn" (click)="signout()">Log out</h5> -->
                <div>
                    <input id="darkMode" type="checkbox" [checked]="darkMode$ | async" (change)="onToggle()" class="toggle" />
                    <label class="toggle-label" for="darkMode">
                        <div >
                            <svg-icon class="moon"  src="assets/icon/bxs-sun.svg" [svgStyle]="{ 'width.px':45, 'margin-top.px':12 }"></svg-icon>
                            
                            <svg-icon class="sun orig-moon"  src="assets/icon/bx-moon.svg" [svgStyle]="{ 'width.px':45, 'margin-top.px':12 }"></svg-icon>
                            
                        </div>
                        
                    </label>
                </div>
            </div>
        </div>

        <span class="dot"></span>
        <span class="dot2"></span>

        <div class="box-container" [routerLink]="['/courses']">
            <p class="box-text">View our <br> courses</p>
            <i class='box-icon bx bx-right-top-arrow-circle'></i>
        </div>
        <div class="box-container2" [routerLink]="['/aboutus']">
            <p class="box-text2">Learn about<br> us</p>
            <i class='box-icon2 white bx bx-right-top-arrow-circle' style='color:#b39aff'></i>
        </div>
        <div class="box-container3" href="https://www.udemy.com/course/the-e-commerce-full-stack-web-development-bootcamp/">
            <div>
                <p class="box-text3">Our Best Seller!</p>
                <p class="box-text-title3">Build Real World Business Website</p>
                <i class='box-icon3 white bx bx-right-top-arrow-circle' style='color:#b39aff'></i>
            </div>


        </div>




        <div>
            <!-- <span class="dot1"></span>
            <div class="dot1-text">Stackmy prounced as: STAMI</div>
            <span class="line line1"></span>
            <span class="dot2"></span>
            <div class="dot2-text">Stackmy - <br>Full Stack Academy</div>
            <span class="line line2"></span> -->
            <!-- <span class="line line3"></span> -->
            <!-- <span class="dot3"></span>
            <div class="dot3-text">Web design UI/UX <br> Framwork(Angular, React, Vue, Flutter, Ionic), NodeJS <br> Front-end & Back-end <br> Database Application<br> Web & Mobile Apps Hosting
            </div> -->
        </div>
    </div>


</div>

<!-- <app-navbar-wide class="topbar-d">
</app-navbar-wide> -->


<!-- <app-menu-main></app-menu-main>  -->

