.logout-btn {
    color: #494949;
    text-transform: uppercase;
    text-decoration: none;
    background: #ffffff;
    padding: 2px;
    border: 1px solid #494949;
    display: inline-block;
    transition: all 0.4s ease 0s;
}