<div class="desktop-view-layout">

    <app-navbar-main class="topbar-h">
    </app-navbar-main>

    <app-navbar-wide class="topbar-d">
    </app-navbar-wide>

    <div routerLink="/" class="hslogo-c">
        <img src="assets/logo/hslogo.png" alt="">
    </div>

    <div class="sidebar-a">
        <app-sidebar-menu-main>
        </app-sidebar-menu-main>
    </div>

    <app-message-detail class="sidebar-j">
    </app-message-detail>

    <div class="all-msg-container">

        <div class="messages-container">
            <div class="profile-logo">
                <img class="user-image" src="assets/avatars/men1.png" alt="">
            </div>
            <div class="message-info">
                <div class="messags-texts">
                    <h5 class="message-sender">Hotstack Team</h5>
                    <p class="messages-title">Buy our course with big discount! Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, voluptates? </p>
                </div>
                <div class="messages-date">
                    <p>Dec 17, 2022</p>
                </div>
            </div>
        </div>

        <div class="messages-container">
            <div class="profile-logo">
                <img class="user-image" src="assets/avatars/men1.png" alt="">
            </div>
            <div class="message-info">
                <div class="messags-texts">
                    <h5 class="message-sender">Hotstack Team</h5>
                    <p class="messages-title">Buy our course with big discount! Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, voluptates? </p>
                </div>
                <div class="messages-date">
                    <p>Dec 17, 2022</p>
                </div>
            </div>
        </div>
    </div>
</div>