<div class="my-paid-course-container">
    <div class="course-card">
        <div class="course-card-intro">
            <div>
                <h3 class="≈">My Paid Courses</h3>
            </div>

            <div class="">
                <img class="hs-fire" src="assets/logo/hs-fire-only.png" alt="">
            </div>
        </div>



        <div class="course-item">
            <p class="course-title">Real Estate Site</p>
            <p class="course-title-complete">24%</p>
        </div>
        <div class="vl"></div>
        <div class="course-item">
            <p class="course-title">E-Commerce Site</p>
            <p class="course-title-complete">49%</p>
        </div>
        <div class="vl"></div>
        <div class="course-item">
            <p class="course-title">Personal Blog Site</p>
            <p class="course-title-complete">80%</p>
        </div>



        <div class="wide-screen-card-more-info-container">
            <div>
                <h6 class="wide-screen-card-more-info">View all</h6>
            </div>
            <div class="wide-screen-card-arrow-icon">
                <svg-icon src="assets/icon/bx-right-arrow-alt.svg" [svgStyle]="{ 'width.px':20}"></svg-icon>
            </div>
        </div>
    </div>
</div>