.navbar-profile {
    display: flex;
    // padding-top: .3rem;
    align-items: center;
    justify-content: center;
    // overflow: hidden;
}

.profile-logo {
    padding-top: .4rem;
    padding-right: .3rem;
}

.user-image {
    width: 25px;
    border-radius: 20px;
}

h5 {
    font-size: 0.75rem;
    font-weight: 500;
    padding-top: 0.22rem;
}

h6 {
    color: #8f8f8f;
    font-size: 0.6rem;
    font-weight: 500;
}

.navbar-profile-name {
    // padding-top: .8rem;
    // padding-bottom: .3rem;
    // padding: .3rem;
    line-height: 88%;
}