<div class="control-panel-container">
    <h5 class="section-top-header">Fullstack Gaming Site</h5>

    <div class="section-container">
        <div class="section-title" routerLink="child-a">
            <div class="section-flex">
                <div class="section-item-left">
                    <h4 class="section-title-header">Section 1: Introduction </h4>
                </div>
                <div class="section-item-right">
                    <div class="section-title-infos-container">
                        <p class="section-title-infos-text">0 / 10</p>
                        <p class="section-title-infos-text">|</p>
                        <p class="section-title-infos-text">17 min</p>
                    </div>
                </div>
            </div>
            <p class="section-intros">Lorem ipsum dolor sit amet consectetur adipisicing elit. At, soluta assumenda porro ipsum aperiam harum?</p>
        </div>
        <div class="section-title" routerLink="child-b">
            <div class="section-flex">
                <div class="section-item-left">
                    <h4 class="section-title-header">Section 2: Introduction </h4>
                </div>
                <div class="section-item-right">
                    <div class="section-title-infos-container">
                        <p class="section-title-infos-text">0 / 10</p>
                        <p class="section-title-infos-text">|</p>
                        <p class="section-title-infos-text">17 min</p>
                    </div>
                </div>
            </div>
            <p class="section-intros">Lorem ipsum dolor sit amet consectetur adipisicing elit. At, soluta assumenda porro ipsum aperiam harum?</p>
        </div>
        <div class="section-title" routerLink="child-c">
            <div class="section-flex">
                <div class="section-item-left">
                    <h4 class="section-title-header">Section 3: Introduction </h4>
                </div>
                <div class="section-item-right">
                    <div class="section-title-infos-container">
                        <p class="section-title-infos-text">0 / 10</p>
                        <p class="section-title-infos-text">|</p>
                        <p class="section-title-infos-text">17 min</p>
                    </div>
                </div>
            </div>
            <p class="section-intros">Lorem ipsum dolor sit amet consectetur adipisicing elit. At, soluta assumenda porro ipsum aperiam harum?</p>
        </div>


        <!-- <div class="section-title-arrow">
            <img class="arrow-logo-img" src="/assets/icon/chevron-up-regular-72.png" alt="">
        </div> -->


    </div>







</div>