<div class="try-sub-promo-container">
    <div class="promo-card">
        <div class="promo-card-intro">

            <h3 class="promo-title1">Try our</h3>
            <h4 class="promo-title2">Subscription</h4>
            <p class="promo-beniftes">View paid courses</p>
            <p class="promo-beniftes">Tech support</p>


            <div class="price-tag">
                <h5>$14.99</h5>
                <p class="month">/month</p>
            </div>
        </div>

        <div class="small-icon">
            <img class="arrow-icon" src="assets/menuIcon/right-arrow-black.png" alt="">
        </div>
    </div>
</div>