<div class="navbar-wide-container">
    <!-- <div class="left">


        <div class="search-bar-container">
            <div class="svg-container">
                <svg-icon class="svg-icon-search" src="assets/icon/bx-search.svg" [svgStyle]="{ 'width.px':20}"></svg-icon>
            </div>
            <div class="search">
                <input class="search-bar-input" type="text" placeholder="Search">
            </div>

        </div>

    </div> -->


    <div class="right">

        <div class="icon-lists">
            <img class="icon-image" src="assets/icon/cart-solid-72-b.png" alt="">
            <img class="icon-image" src="assets/icon/bell-solid-72-b.png" alt="">
        </div>

        <div class="user-profile">
            <div class="profile-logo">
                <img class="user-image" src="assets/avatars/men1.png" alt="">
            </div>
            <div class="user-infos">
                <div class="text-title">
                    <h4 class="user-title">Jack Smith</h4>
                </div>
                <div>
                    <p class="user-work">UI/UX Designer</p>
                </div>
            </div>
        </div>

        <!-- <div class="vl"></div> -->


    </div>

</div>