<div class="course-detail-container">
    <div class="course-head">
        <div class="fire-logo">
            <img class="hs-logo" src="assets/logo/hs-fire-only.png" alt="">
        </div>
        <div>
            <h4 class="course-section-header">Course Section</h4>
        </div>
    </div>

    <div class="section-items">
        <div class="section-item">
            <div class="section-header">
                <h4 class="section-title">Section 1: Introduction</h4>
                <div class="right-arrow-icon-container">
                    <img src="assets/menuIcon/chevron-right-regular-black.png" alt="" class="right-arrow-icon">
                </div>
            </div>
            <div class="section-body">
                <div class="section-course-counts"> 0 / 8</div>
                <div class="vl"></div>
                <div class="section-course-duration">38 min</div>
            </div>
            <div class="divider"></div>
        </div>
        <div class="section-item">
            <div class="section-header">
                <h4 class="section-title">Section 2: Skeleton the App</h4>
                <div>
                    <img src="assets/menuIcon/chevron-right-regular-black.png" alt="" class="right-arrow-icon">
                </div>
            </div>
            <div class="section-body">
                <div class="section-course-counts"> 0 / 8</div>
                <div class="vl"></div>
                <div class="section-course-duration">38 min</div>
            </div>
            <div class="divider"></div>
        </div>
        <div class="section-item">
            <div class="section-header">
                <h4 class="section-title">Section 3: Persistance Layer</h4>
                <div>
                    <img src="assets/menuIcon/chevron-right-regular-black.png" alt="" class="right-arrow-icon">
                </div>
            </div>
            <div class="section-body">
                <div class="section-course-counts"> 0 / 8</div>
                <div class="vl"></div>
                <div class="section-course-duration">38 min</div>
            </div>
            <div class="divider"></div>
        </div>

    </div>




</div>