<div class="my-free-course-container">
    <div class="my-free-course-card">
        <div class="course-card-intro">
            <div>
                <h3 class="course-card-info">My Free Courses</h3>
            </div>

            <div class="">
                <img class="hs-fire" src="assets/logo/hs-fire-only.png" alt="">
            </div>
        </div>



        <div class="my-free-course-item">
            <p class="my-free-course-title">Basic CRUD Training </p>
            <p class="my-free-course-title-complete">73%</p>
        </div>

        <div class="vl"></div>

        <div class="my-free-course-item">
            <p class="my-free-course-title">Basic CRUD Training </p>
            <p class="my-free-course-title-complete">73%</p>
        </div>
        <div class="vl"></div>

        <div class="my-free-course-item">
            <p class="my-free-course-title">Basic CRUD Training </p>
            <p class="my-free-course-title-complete">73%</p>
        </div>
        <!-- <div class="vl"></div> -->

        <!-- <div class="course-item">
            <p class="course-title">NodeJS Basics </p>
            <p class="course-title-complete">19%</p>
        </div> -->



        <div class="wide-screen-card-more-info-container">
            <div>
                <h6 class="wide-screen-card-more-info">View all</h6>
            </div>
            <div class="wide-screen-card-arrow-icon">
                <svg-icon src="assets/icon/bx-right-arrow-alt.svg" [svgStyle]="{ 'width.px':20}"></svg-icon>
            </div>
        </div>
    </div>
</div>