<div class="sidebar-container">

    <!-- <a routerLink="/profile">
        <div class="sidebar-item first-item" routerLinkActive="active-color">
            <div class="item-icon">
                <svg-icon class="nav-menu-icon" routerLinkActive="active-svg" src="assets/menuIcon/bx-user.svg" [svgStyle]="{ 'width.px':45, 'margin-top.px':7 }"></svg-icon>
            </div>
            <div class="">
                <h4 routerLinkActive="active-text" class="sidebar-text">Profile</h4>
            </div>
        </div>
    </a> -->
    <!-- <a routerLink="/messages">
        <div class="sidebar-item second-item" routerLinkActive="active-color">
            <div class="item-icon">
                <svg-icon class="nav-menu-icon" routerLinkActive="active-svg" src="assets/menuIcon/bx-chat.svg" [svgStyle]="{ 'width.px':45, 'margin-top.px':7 }"></svg-icon>
            </div>
            <div>
                <h4 routerLinkActive="active-text" class="sidebar-text">Messages</h4>
            </div>
        </div>
    </a> -->
    <!-- <a>
        <div class="profile-container">
            <div class="navbar-sign-logo-container">
                <div class="navbar-img-container">
                    <img class="navbar-img" src="assets/icon/log-in-regular-72.png" alt="">
                </div>
            </div>
            <div class="profile-details">
                <h5 class="profile-username">Jack Smith</h5>
                <div class="profile-jobtitle">UI/UX Designer</div>
            </div>
        </div>
    </a> -->
    <a routerLink="/cart">
        <div class="sidebar-item fifth-item" routerLinkActive="active-color">
            <div class="item-icon">
                <svg-icon class="nav-menu-icon" routerLinkActive="active-svg" src="assets/menuIcon/bx-credit-card-alt.svg" [svgStyle]="{ 'width.px':45, 'margin-top.px':7 }"></svg-icon>
            </div>
            <div>
                <h4 routerLinkActive="active-text" class="sidebar-text fifth-text">Cart</h4>
            </div>
        </div>
    </a>


    <a routerLink="/mylearning">
        <div class="sidebar-item third-item " routerLinkActive="active-color">
            <div class="item-icon">
                <svg-icon class="nav-menu-icon" routerLinkActive="active-svg" src="assets/menuIcon/bx-grid-alt.svg" [svgStyle]="{ 'width.px':45, 'margin-top.px':7 }"></svg-icon>
            </div>
            <div>
                <h4 routerLinkActive="active-text" class="sidebar-text">My learning</h4>
            </div>
        </div>

    </a>

    <a routerLink="/courses">
        <div class="sidebar-item fourth-item" routerLinkActive="active-color">
            <div class="item-icon">
                <svg-icon class="nav-menu-icon" routerLinkActive="active-svg" src="assets/menuIcon/bx-layer.svg" [svgStyle]="{ 'width.px':45, 'margin-top.px':7 }"></svg-icon>
            </div>
            <div>
                <h4 routerLinkActive="active-text" class="sidebar-text">Courses</h4>
            </div>
        </div>
    </a>
    <!-- <a routerLink="/dashboard">
        <div class="sidebar-item third-item " routerLinkActive="active-color">
            <div class="item-icon">
                <svg-icon class="nav-menu-icon" routerLinkActive="active-svg" src="assets/menuIcon/bx-grid-alt.svg" [svgStyle]="{ 'width.px':45, 'margin-top.px':7  }"></svg-icon>
            </div>
            <div class="sidebar-text-container">
                <h4 routerLinkActive="active-text" class="sidebar-text">Dashboard</h4>
            </div>
        </div>

    </a> -->



    <!-- <a routerLink="/pricing">
        <div class="sidebar-item fifth-item" routerLinkActive="active-color">
            <div class="item-icon">
                <svg-icon class="nav-menu-icon" routerLinkActive="active-svg" src="assets/menuIcon/bx-credit-card-alt.svg" [svgStyle]="{ 'width.px':45, 'margin-top.px':7 }"></svg-icon>
            </div>
            <div>
                <h4 routerLinkActive="active-text" class="sidebar-text fifth-text">Pricing</h4>
            </div>
        </div>
    </a> -->

    <a routerLink="/courses/admin-course">
        <div class="sidebar-item fifth-item" routerLinkActive="active-color">
            <div class="item-icon">
                <svg-icon class="nav-menu-icon" routerLinkActive="active-svg" src="assets/menuIcon/bx-credit-card-alt.svg" [svgStyle]="{ 'width.px':45, 'margin-top.px':7 }"></svg-icon>
            </div>
            <div>
                <h4 routerLinkActive="active-text" class="sidebar-text fifth-text">Admin</h4>
            </div>
        </div>
    </a>
    <!-- <a routerLink="/profile">
        <div class="sidebar-item fifth-item" routerLinkActive="active-color">
            <div class="item-icon">
                <svg-icon class="nav-menu-icon" routerLinkActive="active-svg" src="assets/menuIcon/bx-credit-card-alt.svg" [svgStyle]="{ 'width.px':45, 'margin-top.px':7 }"></svg-icon>
            </div>
            <div>
                <h4 routerLinkActive="active-text" class="sidebar-text fifth-text">Profile</h4>
            </div>
        </div>
    </a> -->


    <a routerLink="/help">
        <div class="sidebar-item sixth-item" routerLinkActive="active-color">
            <div class="item-icon">
                <svg-icon class="nav-menu-icon" routerLinkActive="active-svg" src="assets/menuIcon/bx-help-circle.svg" [svgStyle]="{ 'width.px':45, 'margin-top.px':7 }"></svg-icon>
            </div>
            <div>
                <h4 routerLinkActive="active-text" class="sidebar-text">Help</h4>
            </div>
        </div>
    </a>



</div>