<div class="message-detail-container">

    <div class="header-container">
        <div class="header-left">
            <div class="header-logo">
                <img class="fire-logo" src="assets/logo/hs-fire-only.png" alt="">
            </div>

            <div class="header-title-container">
                <h5 class="header-title">Hotstack Team</h5>
            </div>
        </div>

        <div class="header-right">
            <p class="header-date-year">Dec 17, 2021</p>
            <p class="header-date-time">10:38</p>
        </div>
    </div>


    <h4 class="message-title">
        Buy our courses with big discount now! Only today!
    </h4>

    <p class="message-body">It’s the best deal ever! Check out our new deal with 25% off discount! Only for today! You can avail the discount by purchasing the course! Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, mollitia!</p>

    <div class="btn-adjust">
        <button class="btn-delete">
                Delete
        </button>
    </div>

</div>