<p>delete-course-additional works!</p>
<a routerLink="/">
    <img class="logo" src="assets/logo/hslogo.png" alt="" />
</a>
<div class="wrap">

    <div class="container">
        <h4>Delete Course Relation</h4>
        <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
            <div class="form-group">
                <input formControlName="courseId" name="courseId" placeholder="course Id" type="text" />
            </div>
            <div class="form-group">
                <input formControlName="courseAdditionalId" name="courseAdditionalId" placeholder="course Additional Id" type="text" />
            </div>

            <button type="submit" class="btn">
                Submit
            </button>
        </form>


    </div>
</div>